<div class="heading"><h1>About the Page</h1></div>
<div>
	<ul>
		<li>Built in one night!</li>
		<li>Utilizes Ruby on Rails</li>
		<li>Backed up on GitHub</li>
	</ul>
</div>

<button class="button"><%= link_to 'Return Home', root_path %></button>
