<div class="title-bar"><h1>Welcome to your next adventure!</h1></div>

<div class="flex-container">
	<div class="column">
		<p>Bored? Check out these
			<%= link_to 'Activities', activities_path %>
		</p>
	</div>
	<div class="column">
		<p>Here's some information on
			<%= link_to 'States', states_path %>
		</p>
	</div>
</div>

<div>
	<button class="button"><%= link_to 'About Us', about_path %></button>
</div>
